---
layout: archive
permalink: /categories/
title: "Posts by category"
author_profile: true
---

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
<section class="list-section">
  <h2 class="list-section__title" id="{{ category | slugify }}">{{ category }} <span class="list-section__count">{{ posts.size }}</span></h2>
  <ol class="post-list">
    {%- for post in posts %}
      {% include post-item.html post=post %}
    {%- endfor %}
  </ol>
</section>
{% endfor %}
