{%- assign author = site.author -%}
<ul class="profile-links {{ include.class }}">
  {%- if author.googlescholar %}<li><a href="{{ author.googlescholar }}" aria-label="Google Scholar">{% include icon.html name="scholar" %}</a></li>{% endif -%}
  {%- if author.github %}<li><a href="https://github.com/{{ author.github }}" aria-label="GitHub">{% include icon.html name="github" %}</a></li>{% endif -%}
  {%- if author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ author.linkedin }}/" aria-label="LinkedIn">{% include icon.html name="linkedin" %}</a></li>{% endif -%}
  {%- if author.twitter %}<li><a href="https://x.com/{{ author.twitter }}" aria-label="X">{% include icon.html name="x" %}</a></li>{% endif -%}
  {%- if author.email_parts %}<li>{% include email.html icon_only=true %}</li>{% endif -%}
</ul>
