---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang | default: site.locale | slice: 0,2 }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body class="{{ page.body_class | default: layout.body_class }}">
    <a class="skip-link" href="#main">Skip to content</a>
    {% include nav.html overlay=layout.nav_overlay %}
    <main id="main">
      {{ content }}
    </main>
    {% include footer/custom.html %}
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
